@use '../bootstrap-5.3.0-alpha3/scss/bootstrap.scss';

/* tipografías */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// variables tamaños
$font-base: 16px;
$font-serif: 'Quicksand', sans-serif;
$font-sans-serif: 'Inter', sans-serif;
// variables colores
$blue: #4273C2;
$green: #2FD0AF;
$dark-green: #102228;
$dark-blue: #646C9B;
$light-gray: #F7FAFF;
$white: #ffffff;

/* generales */
body {
    font-family: $font-sans-serif;
    font-size: $font-base;
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: $font-serif;
    span {
        &.blue {
            color: $blue;
        }
        &.green {
            color: $green;
        }
    }
}
.font-serif {
    font-family: $font-serif !important;
}
.font-sans-serif {
    font-family: $font-sans-serif !important;
}
h1, .h1 {
    font-weight: bold;
    font-size: ($font-base * 2) + 2;
    text-transform: uppercase;
    line-height:($font-base * 2.5);
}
h2, .h2 {
    font-weight: 500;
    font-size: ($font-base * 2);
    line-height:($font-base * 2) + 6;
}
h3, .h3 {
    font-weight: bold;
    font-size: $font-base + 2;
    line-height: $font-base + 8;
}
.color-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    text-align: center;
    flex-direction: column;
    position: relative;
    margin-bottom: $font-base * 0.5;
    &.blue {
        background-color: $blue;
        span {
            color: $white;
        }
    }
    &.green {
        background-color: $green;
        span {
            color: $white;
        }
    }
    &.dark-blue {
        background-color: $dark-blue;
        span {
            color: $white;
        }
    }
    &.dark-green {
        background-color: $dark-green;
        span {
            color: $white;
        }
    }
    &.white {
        background-color: $white;
    }
    &.light-gray {
        background-color: $light-gray;
    }
    span {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -12px;
        font-weight: bold;
    }
}
.color-name {
    font-weight: bold;
    font-size: $font-base * 0.75;
    display: block;
}
// propio de la guía de estilos
.title-feat {
    position: relative;
    text-transform: none;
    font-family: $font-sans-serif;
    margin-bottom: $font-base * 2;
    font-size: $font-base * 5;
    line-height: 100%;
    &.section-title {
        font-size: $font-base * 2.5;
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            background-color: rgba($color: #000000, $alpha: 0.1); //$light-gray;
            width: 100%;
            top:50%;
            left: 0;
            right: 0;
        }
        span {
            background-color: $white;
            padding: $font-base;
            display: inline-block;
            position: relative;
        }
    }
}